header {
    font-family: $font-alt;
    text-align: center;
    text-transform: uppercase;
    border-top: 6px solid $upper-bottom-string;
    margin-bottom: 60px;
  
    h1 {
      padding-top: 60px;
      margin-bottom: 0;
      font-size: 22px;
      font-weight: bold;
    }
  
    h2 {
      font-size: 16px;
    }
  }