html{
    height: 100%;
  }
  
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../img/bg.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  main{
    flex: 1 0 auto;
  }